.md-text
  .tag-plugin
    &.chat
      width 375px
      margin 1rem auto
      border-radius 8px
      background var(--chat-block)
      box-shadow rgba(0,0,0,.16) 0 1px 4px
      display flex
      flex-direction column
      height 658px
      width 320px
      overflow hidden
      &.iphone11
        width 312px
        height 658px
        border-radius 3em
        padding 1em
        position relative
        box-shadow unset
        & > .device-image
          background-image url("https://gcore.jsdelivr.net/gh/cdn-x/placeholder@1.0.4/frame/iphone11.svg")
          width 100%
          height 100%
          position absolute
          top 0
          left 0
          z-index 2
          background-repeat round

        & > .status-bar
          display flex
          margin .5em .7em
          justify-content space-between
          & > .left-items
            font-size .75rem
            width 5em
            display flex
            justify-content center
          & > .right-items
            display flex
            flex-direction row
            align-items center
            & > svg
              &.icon
                width 1.3em
                height 1.3em
                & > path
                  fill var(--text-p1)
        & > .bottom
          margin 0 .4em
          padding-bottom .75em
      & > .navbar
        display flex
        padding .3rem 0
        justify-content space-between
        z-index 4
        .left-items
          display flex
          align-items center
          .back-btn
            margin-left .2em
            .icon
              &.back
                width 1.3em
                height 1.3em
          .news-num
            background var(--chat-bg)
            border-radius 8px
            font-size .75em
            padding 0 4px
            margin-right 8px
            color var(--text-p2)
        .right-items
          & > .more-btn
            height 100%
            margin-right .5em
      & > .content
        background var(--chat-bg)
        overflow auto
        flex 1
        z-index 3
        overflow-x hidden
        & > div
          &:first-child
            margin-top 1em
        .chattip
          font-size .75rem
          color var(--text-p3)
          margin auto
          width fit-content
          margin-bottom 1em
        .chatcell
          margin 0 .5em
          margin-bottom 1em
          .user-avatar
            float left
            img
              width 32px
              height 32px
              border-radius 50%
          .user-main
            padding 0 .5em
            display flex
            flex-flow column
            .header
              line-height 1.5
              font-size 13px
              margin-bottom .5em
              overflow hidden
              position relative
              display flex
              flex-wrap wrap
              align-items center
              .label
                padding 0 2px
                color var(--theme-color)
                background var(--theme-color-opa)
                border-radius 2px
                margin-right 4px
                font-size calc(.75rem - .1rem)
                font-weight 600
              .name
                color var(--text-p3)
                font-size .75rem
            .talk
              width fit-content
              max-width calc(100% - 32px)
              background var(--chat-block)
              padding calc((32px - 1.3 * .875rem)/ 2) .5em
              border-radius 6px
              p
                font-size .875rem
                line-height 1.3
                margin 0
              & > .error-img-to-show
                min-width 100px
                min-height 100px
              &.link
                .link-card
                  background var(--chat-block)
                  box-shadow unset
                  transition unset
                  -webkit-transition unset
                  -moz-transition unset
                  -o-transition unset
                  &:hover
                    transform none
                    color var(--text-p3)
                  .top
                    margin .5em
                    max-width unset
                    span
                      white-space unset
                      font-size .875rem
                  .center
                    margin 0 .5em
                    column-gap .5em
                    display flex
                    align-self unset
                    .left
                      width calc(100% - 32px - .5em)
                      height 32px
                      .desc
                        -webkit-line-clamp 2
                    .right
                      flex 1
                  .bottom
                    margin .5em .5em .3em .5em
                    padding-top .3em
                    border-top 1px solid var(--chat-border)
                    display flex
                    align-items center
              &.voice
                display flex
                align-items center
                justify-content left
                padding 4.5px .5em
                cursor pointer
                .voice-btns
                  flex-shrink 0
                  svg
                    &.icon
                      width 1.3em
                      height 1.3em
                      & > path
                        fill var(--text-p1)
                canvas
                  &.voice-wave
                    margin 0 .5em
                div
                  &.voice-wave
                    height 1.2em
                    margin 0 .5em
                    display flex
                    justify-content center
                    align-items center
                    position relative
                    .play-line
                      position absolute
                      top -20%
                      left 0
                      height 140%
                      width 1px
                      background var(--text-p2)
                      content ""
                      opacity 0
                      &.active
                        opacity 1
                      &.back
                        transition transform .3s linear!important
                        -moz-transition transform .3s linear!important
                        -webkit-transition transform .3s linear!important
                        -o-transition transform .3s linear!important
                    span
                      &.voice-wave-item
                        background var(--text-p2)
                        width 2px
                        border-radius 2px
                        flex-shrink 0
                .voice-metas
                  font-size .875rem
                  display flex
                  flex-shrink 0
                  span
                    line-height 1
              &.video
                position relative
                line-height 0
                .video-btns
                  position absolute
                  top 0
                  left 0
                  width 100%
                  height 100%
                  svg
                    &.icon
                      width 3em
                      height 3em
                      & > path
                        fill var(--chat-video-button)
                video
                  width 100%
                  border-radius 6px
              &.file
                background 0 0!important
                display flex
                padding unset!important
                column-gap .3rem
                width calc(100% - 32px)
                cursor pointer
                & > .content
                  background var(--chat-block)
                  padding .5em
                  border-radius 6px
                  flex-grow 1
                  & > .top
                    display flex
                    align-items center
                    column-gap .5rem
                    & > .left
                      height 2.5rem
                      flex-grow 1
                      & > span
                        white-space unset
                        font-size .875rem
                        font-weight 500
                        color var(--text-p1)
                        overflow hidden
                        text-overflow ellipsis
                        max-width 100%
                        display -webkit-box
                        -webkit-box-orient vertical
                        -webkit-line-clamp 2
                        line-height calc(2.5rem / 2)
                    & > .right
                      height fit-content
                      & > svg
                        &.icon
                          height 2.5rem
                          width unset
                  & > .bottom
                    margin-top .5em
                    display flex
                    & > span
                      line-height .75rem
                & > .download-btn
                  display flex
                  align-items flex-end
                  & > svg
                    &.icon
                      height 1rem
                      width 1rem
                      padding .2em
                      border-radius 50%
                      background var(--chat-block)
                      & > path
                        fill var(--text-p1)
          &.right
            .user-avatar
              float right
            .user-main
              flex-flow row-reverse
              flex-wrap wrap
              .header
                flex-basis 100%
                justify-content flex-end
              .talk
                &.file
                  flex-direction row-reverse
      & > .bottom
        z-index 1
        padding-bottom .5em
        background var(--chat-bg)
        box-shadow rgba(0,0,0,.06) 0 1px 1px 0 inset
        .input
          display flex
          align-items center
          justify-content space-between
          margin 0 .5em
          margin-top .5em
          height 32px
          .input-text
            background var(--chat-block)
            border-radius 6px
            width calc(100% - 40px - .5em)
            height 100%
          .submit-btn
            padding 3px 6px
            background var(--theme-color-opa)
            border-radius 6px
            font-size .875rem
            color var(--theme-color)
        .icons
          margin 0 .5em
          display flex
          justify-content space-between
          margin-top .5em
          & > svg
            &.icon
              width 1.5em
              height 1.5em
              &.voice
                width 1.3em!important
                height 1.3em!important
              path
                fill var(--text-p2)
      &.person
        & > .content
          & > .chatcell
            & > .user-main
              min-height 32px
              justify-content center
              align-content unset
              & > .header
                display none
            &.right
              & > .user-main
                justify-content unset
                align-content center
      &.wechat
        &.iphone11
          background var(--chat-bg)
          & > .bottom
            padding-bottom .75rem
        & > .navbar
          background var(--chat-bg)
          box-shadow rgba(27,31,35,.02) 0 1px 0
          & > .left-items
            & > .news-num
              background var(--chat-news-num)
        & > .content
          & > .chatcell
            & > .user-avatar
              & > img
                border-radius 4px
            & > .user-main
              & > .header
                line-height 1
                margin-bottom .2em
                & > .label
                  display none
              & > .talk
                position relative
                border-radius 4px
                &:before
                  content ""
                  position absolute
                  left -2.5px
                  top 11px
                  width 10px
                  height 10px
                  border-radius 1.5px
                  transform rotate(-45deg)
                  background var(--chat-block)
                &.file
                  .download-btn
                    display none
            &.right
              & > .user-main
                & > .header
                  display none
                & > .talk
                  &:before
                    right -2px
                    left unset
        & > .bottom
          display flex
          align-items center
          justify-content space-between
          padding .5em
          column-gap .5em
          .input-text
            border-radius 4px
            flex-grow 1
            height 2rem
            background var(--chat-block)
          .icon
            height 1.5rem
            width 1.5rem
            & > path
              fill var(--text-p2)

.md-text .tag-plugin.chat.iphone11>.status-bar>.right-items>svg.icon.bluetooth,.md-text .tag-plugin.chat.iphone11>.status-bar>.right-items>svg.icon.earphone
  display none

.md-text .tag-plugin.chat.iphone11>.content,.md-text .tag-plugin.chat.iphone11>.navbar
  margin 0 .4em

.md-text .tag-plugin.chat>.navbar .left-items>.back-btn,.md-text .tag-plugin.chat>.navbar .right-items>.more-btn
  display flex
  align-items center

.md-text .tag-plugin.chat>.navbar .left-items>.back-btn>svg>path,.md-text .tag-plugin.chat>.navbar .right-items>.more-btn>svg>path
  fill var(--text-p1)

.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.emoji,.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.file,.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.image,.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.link,.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.video
  background var(--chat-block) !important
  padding 0!important

.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.link .link-card .bottom>span,.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.link .link-card .bottom>svg
  height .8rem

.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.video .video-btns .pause-btn,.md-text .tag-plugin.chat>.content .chatcell .user-main .talk.video .video-btns .play-btn
  align-items center
  justify-content center
  width 100%
  height 100%

.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.emoji:before,.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.image:before,.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.video:before
  display none

.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.emoji>img,.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.file>.content,.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.image>img,.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.link>.link-card,.md-text .tag-plugin.chat.wechat>.content>.chatcell>.user-main>.talk.video>video
  border-radius 4px
