html[data-theme="dark"] .hljs {
  display: block;
  overflow-x: hidden;
  /*背景跟随Stellar*/
  background: var(--block);
  color: #eee;
}

html[data-theme="light"] .hljs {
  display: block;
  overflow-x: hidden;
  /*背景跟随Stellar*/
  background: var(--block);
  color: #111;
  padding-left: 4px;

}

.hljs-ln {
  display: inline-block;
  overflow-x: auto;
  padding-bottom: 5px
}

.hljs-ln td {
  padding: 0;
  background-color: var(--block)
}

.hljs-ln::-webkit-scrollbar {
  height: 10px;
  border-radius: 5px;
  background: #333;
}

.hljs-ln::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 5px;
}

.hljs-ln::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

.hljs table tbody tr {
  border: none
}

.md-text .highlight>table tbody {
  background: var(--block);
}

.hljs .hljs-ln-line {
  padding: 1px 10px;
  border: none
}

td.hljs-ln-line.hljs-ln-numbers {
  border-right: 1px solid #666;
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}

.hljs-addition {
  background-color: #00ff1121;
  display: inline-block;
  width: 100%
}

.hljs-deletion {
  background-color: #ff000e21;
  display: inline-block;
  width: 100%
}

.md-text .highlight>table {
  overflow: auto;
  display: block;
  margin: 0 !important;
  background: transparent;
  border: none;
  border-radius: 10px;

  tbody {
    padding: 5px;
    width: 100%;
    background: var(--block);
  }

  .code {
    vertical-align: top;
    width: 100%;
  }
}

/* 折叠 */
code.hljs {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  padding: 1rem 1rem 0 1rem;
}

.hljsOpen {
  -webkit-line-clamp: 99999 !important;
}

.CodeCloseDiv {
  color: #999;
  background: var(--block);
  text-align: center;
}

.CodeClose {
  color: #999;
  margin-top: 3px;
  background: var(--block);
}

/*stellar主题补偿*/
.md-text pre>.hljs {
  padding-top: 1rem !important;
  padding-bottom: 0.2rem !important;
}

.md-text .highlight .gutter {
  display: block !important;
  padding-top: 1rem !important;
  padding-bottom: 0.2rem !important;

}

.md-text pre {
  padding: 0 !important;
  margin-top: 0 !important;
}

/* 防止有些浏览器代码块不兼容 */
.md-text .highlight>table {
  overflow: auto;
  display: block;
  margin: 0 !important;
  background: var(--block);
  border-radius: 10px;
}

.code-collapsed,
.pre-gutter-collapsed {
  max-height: 500px;
  overflow: hidden;
}

.code-expanded,
.pre-gutter-expanded {
  height: auto;
  overflow: visible;
}